

/********************************************
 ************ GENERAL SETTINGS *************
*********************************************/

html, body {
    margin                  : 0;
    padding                 : 0;
    height                  :100%;
    font-size               : 17px;
}

.container{
    max-width               : 800px;
    margin                  : auto;
    text-align              : center;
}

/********************************************
 ******************* TYPOS ******************
*********************************************/

/*
font-family: 'Press Start 2P', cursive;
font-family: 'Dosis', sans-serif;
*/

h1, h4, footer, .score{
    font-family: 'Press Start 2P', cursive;
}

h1{
    font-size: 30px;
}

#game-over{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: bold;
}

p, button{
    font-family: 'Dosis', sans-serif;
}

/********************************************
 ******************* MAIN ******************
*********************************************/

.grid {
    width                   : 200px;
    height                  : 200px;
    display                 : flex;
    flex-wrap               : wrap;
    border-style            : solid;
    margin                  : auto;
}

.grid div {
    height                  : 20px;
    width                   : 20px;
}

.snake {
    background-color        : blue;

}

.apple {
    background-color        : purple;
}