

/********************************************
 ************ GENERAL SETTINGS *************
*********************************************/

html, body {
    margin                  : 0;
    padding                 : 0;
    font-size               : 17px;
    color                   : #001000;
    background              : #c6cbb4;
}

.container{
    max-width               : 800px;
    margin                  : auto;
    text-align              : center;
}

a{
    color                   : white;
    text-decoration         : none;
}

a:hover{
    color                   : #c6cbb4;
}

/********************************************
 ******************* TYPOS ******************
*********************************************/

/*
font-family                 : 'Press Start 2P', cursive;
font-family                 : 'Dosis', sans-serif;
*/

h1, h3, h4, footer, .score{
    font-family             : 'Press Start 2P', cursive;
    font-size               : 17px;
    letter-spacing          : 2px;
}

h1{
    font-size               : 30px;
}

#game-over{
    text-transform          : uppercase;
    letter-spacing          : 4px;
    font-size               : 30px;
    font-weight             : bold;
}

p, button{
    font-family             : 'Dosis', sans-serif;
}

/********************************************
 ******************* HEADER *****************
*********************************************/

header{
    text-align              : center;
}

h1{
    margin                  : 1.5rem 0 3rem 0;
}

/********************************************
 ******************* MAIN ******************
*********************************************/

button{
    margin                  : 0 0 2rem 0; 
    background              : #000;
    border                  : none;
    color                   : white;
    letter-spacing          : 2px;
    font-weight             : bold;
    padding                 : 0.5rem;
}

.grid {
    width                   : 200px;
    height                  : 200px;
    display                 : flex;
    flex-wrap               : wrap;
    border-style            : solid;
    margin                  : auto;
}

.grid div {
    height                  : 20px;
    width                   : 20px;
}

.snake {
    background-color        : #001000;

}

.apple {
    background-color        : #011e01b8;
}

.grid + div{
    margin                  : 3rem 0 5rem 0; 
    text-align              : center;
}


/********************************************
 ****************** FOOTER ******************
*********************************************/

footer{
    background              : rgb(31, 31, 31);
    color                   : white;
    padding                 : 1px 0 1px 0; 
    position                : fixed;
    bottom                  : 0;
    width                   : 100%;
    height                  : 55px;
    text-align              : center;
}

/**********************************
*********** MEDIA QUERIES *********
***********************************/

/* For smarthphones */

@media screen and (max-width: 760px) {

    .container{
        max-width           : 700px;
        margin              : auto;
        text-align          : center;
    }

    h1, h3, h4, footer, .score{
        font-family         : 'Press Start 2P', cursive;
        font-size           : 13px;
        letter-spacing      : 2px;
    }
    
    h1{
        font-size           : 24px;
        line-height: 30px;
        margin              : 1rem 0 2rem 0;

    }

    .grid + div{
        margin              : 2rem 0 5rem 0; 
        text-align          : center;
    }

    footer h3{
        line-height         : 17px;
        padding-left        : 0.8rem;
        padding-right       : 0.8rem;
    }

}

/* For large screens */

@media only screen  and (min-width : 1224px){

    h1{
        margin              : 3rem 0 3rem 0;
    }

    .grid + div{
        margin              : 6rem 0 0 0; 
        text-align          : center;
    }


}